@media (prefers-color-scheme: dark) {
    body, select {
        color: #FFF !important;
        background-color: #202023 !important;
    }

    .nav-tabs {
        border-color: #343638 !important;
    }

    .nav-link.active, .nav-link:hover, .nav-link:focus, .form-control:enabled {
        color: #FFF !important;
        background-color: #202023 !important;
        border-color: #343638 !important;
    }

    .input-group-text {
        color: #FFF !important;
        background-color: #404043 !important;
        border-color: #343638 !important;
    }

    .form-control:disabled {
        color: #FFF !important;
        background-color: #202023 !important;
    }
}
