name: Node

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Clone repository

      - uses: actions/setup-node@v3
        name: Setup node
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build Firefox Extension
        run: npm run build:firefox

      - uses: actions/upload-artifact@v3
        name: Upload Firefox artifact
        with:
          name: aria2-integration-firefox
          path: ./build/

      - name: Build Chromium Extension
        run: npm run build:chromium

      - uses: actions/upload-artifact@v3
        name: Upload Chromium artifact
        with:
          name: aria2-integration-chromium
          path: ./build/
  release:
    needs: build
    name: Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && startsWith(github.event.head_commit.message, 'Release v')
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        name: Clone Repository

      - name: Get Release Version
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          VERSION=$(echo $COMMIT_MESSAGE | grep -Po 'v\d+\.\d+\.\d+')
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        id: version

      - uses: rickstaa/action-create-tag@84c90e6ba79b47b5147dcb11ff25d6a0e06238ba # v1
        name: Create Tag
        with:
          tag: ${{ steps.version.outputs.VERSION }}
          message: ${{ github.event.head_commit.message }}
