name: Release Minor

on: workflow_dispatch

jobs:
  release-minor:
    name: Release Minor
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Set minor version
        id: minor_version
        run: |
          MINOR_VERSION=$(npm version --no-git-tag-version --no-commit-hooks minor)
          node scripts/update-manifest-version.js $MINOR_VERSION
          npm install
          npm run lint:fix
          echo "MINOR_VERSION=$MINOR_VERSION" >> $GITHUB_OUTPUT
      - name: Commit, push and create tag
        uses: EndBug/add-and-commit@v9
        with:
          fetch: true
          default_author: github_actions
          message: Release ${{ steps.minor_version.outputs.MINOR_VERSION }}
          pathspec_error_handling: exitImmediately
          push: true
          tag: ${{ steps.minor_version.outputs.MINOR_VERSION }}
      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create ${{ steps.minor_version.outputs.MINOR_VERSION }} --generate-notes
      - name: Set next dev version
        id: dev_version
        run: |
          DEV_VERSION=$(npm version --no-git-tag-version --no-commit-hooks --preid SNAPSHOT prerelease)
          node scripts/update-manifest-version.js $DEV_VERSION
          npm install
          npm run lint:fix
          echo "DEV_VERSION=$DEV_VERSION" >> $GITHUB_OUTPUT
      - name: Commit and push
        uses: EndBug/add-and-commit@v9
        with:
          fetch: true
          default_author: github_actions
          message: Set next dev version to ${{ steps.dev_version.outputs.DEV_VERSION }}
          pathspec_error_handling: exitImmediately
          push: true
